@import './common';

:global {
  .signlog {
    .ant-modal-body {
      padding: 40px;
      padding-top: 60px;
      display: flex;
      justify-content: center;
    }
  }
  .signpwd {
    .ant-modal-header {
      text-align: center;
      border-bottom: 0;
    }
    .ant-modal-title {
      font-size: 20px;
      color: #323232;
      font-weight: bold;
    }
    .ant-modal-footer {
      border-top: 0;
    }
    .ant-modal-content {
      width: 400px;
      height: 240px;
      padding: 15px;
      margin: auto;
    }
    .ant-modal-body {
      padding: 16px;
      padding-bottom: 5px;
      .input-item {
        width: 100%;
        .input {
          width: 100%;
        }
      }
    }
  }
  .ant-confirm-body-wrapper {
    text-align: center;
  }
  .ant-confirm-body .ant-confirm-content {
    margin-left: 0;
  }
  .ant-confirm .ant-modal-body {
    padding: 30px;
  }
  .ant-message-notice-content {
    font-size: 13px;
    color: #dc8e30;
  }
  .ant-spin-nested-loading {
    height: 100%;
  }
  .ant-spin-container {
    height: 100%;
  }
  .ant-select-open .ant-select-selection {
    border-color: #DBDBDB;
    box-shadow: none;
  }
  .ant-select-focused .ant-select-selection,
  .ant-select-selection:hover,
  .ant-select-selection:focus, .ant-select-selection:active {
    border-color: #DBDBDB;
    box-shadow: none;
  }
  .ant-select-lg .ant-select-selection--single {
    line-height: 40px;
    width: 280px;
    height: 40px;
  }
  .ant-select-lg .ant-select-selection__rendered {
    line-height: 40px;
    width: 280px;
    height: 40px;
  }
  .ant-select-selection__rendered {
    margin-left: 10px;
    margin-right: 10px;
  }
  .select.error .ant-select-selection {
    border: 1px solid #f04134;
  }
  .ant-select-selection {
    border-radius: 0;
  }
  .ant-select-dropdown {
    border-radius: 2px;
    font-size: 14px;
    color: #777;
  }
  .ant-select-dropdown-menu-item-selected,
  .ant-select-dropdown-menu-item-selected:hover {
    background-color: #f4f4f4;
  }

  .ant-btn {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    height: 36px;
    min-width: 90px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: @default-color;
    border-color: @default-border-color;
    color: #555;
    &:hover {
      color: #555;
      background-color: @default-hover-color;
      border-color: @default-hover-border-color
    }
    &:active {
      color: #555;
      background-color: @default-tap-color;
      border-color: @default-tap-border-color;
    }
    &.ant-btn-primary {
      background-color: @primary-color;
      border-color: @primary-border-color;
      color: #fff;
      &:hover {
        background-color: @primary-hover-color;
        border-color: @primary-hover-border-color;
      }
      &:active {
        background-color: @primary-tap-color;
        border-color: @primary-tap-border-color;
      }
    }
  }

  // ant-table
  .ant-table {
    border-radius: 0;
  }
  .ant-table table {
    border-radius: 0;
  }
  .ant-table-tbody > tr > td {
    padding: 14px 8px;
    color: #555;
  }
  .ant-table-thead > tr > th {
    padding: 10px 8px;
    font-size: 14px;
    color: #323232;
    font-weight: bold;
  }
  .ant-table-pagination {
    margin: 20px 0;
  }
  .ant-pagination-item-active {
    background-color: #E74031;
    border-color: #E74031;
  }
  .ant-pagination-item {
    border-radius: 2px;
  }
  .ant-pagination-item:hover {
    border-color: #E74031;
  }
  .ant-pagination-next:hover, .ant-pagination-prev:hover {
    border-color: #E74031;
  }
  .ant-pagination-options-quick-jumper input {
    border-radius: 2px;
  }
  .ant-pagination-options-quick-jumper input:hover {
    border-color: #E74031;
  }
  .ant-pagination-options-quick-jumper input:focus {
    border-color: #E74031;
    box-shadow: 0 0 0 2px rgba(231,64,49,.2);
  }
  .ant-pagination-jump-next, .ant-pagination-jump-prev, .ant-pagination-next, .ant-pagination-prev {
    border-radius: 2px;
  }
  .ant-pagination-total-text {
    font-size: 12px;
    color: #555;
    flex: 1;
    text-align: left;
  }
  .ant-table-pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .ant-checkbox-checked .ant-checkbox-inner:after {
    border: 2px solid #e74031;
    border-top: 0;
    border-left: 0;
    content: ' ';
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  }
  .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #fff;
    border-color: #c1c1c1;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #c1c1c1;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-focused .ant-checkbox-inner {
    border-color: #c1c1c1;
  }
  .ant-checkbox-inner:focus {
    outline: #c1c1c1 auto 5px;
    outline-color: #c1c1c1;
    outline-style: auto;
    outline-width: 5px;
  }

  .closeDocPop {
    .anticon {
      width: 17px;
      font-size: 17px;
      position: relative;
      line-height: 22px;
    }
    .ant-popover-content {
      width: 380px;
    }
    .ant-popover-message {
      display: flex;
      justify-content: center;
    }
    .ant-popover-message-title {
      font-size: 14px;
      color: #323232;
      padding-left: 5px;
    }
    .ant-popover-buttons {
      display: flex;
      justify-content: center;
      .ant-btn {
        height: 28px;
        min-width: 50px;
        width: 50px;
        font-size: 12px;
        padding: 0;
      }
    }
  }
  .deleteDocPop {
    .anticon {
      width: 17px;
      font-size: 17px;
      position: relative;
      line-height: 22px;
    }
    .ant-popover-content {
      width: 200px;
    }
    .ant-popover-message {
      display: flex;
      justify-content: center;
    }
    .ant-popover-message-title {
      font-size: 14px;
      color: #323232;
      // line-height: 16px;
      padding-left: 5px;
    }
    .ant-popover-buttons {
      display: flex;
      justify-content: center;
      .ant-btn {
        height: 28px;
        min-width: 50px;
        width: 50px;
        font-size: 12px;
        padding: 0;
      }
    }
  }
}
