@import './common';

:global {
  .ant-modal-header {
    text-align: center;
    border-bottom: 0;
  }
  .ant-modal-title {
    font-size: 20px;
    color: #323232;
    font-weight: bold;
  }
  .ant-modal-footer {
    border-top: 0;
  }
  .ant-modal-content {
    width: 400px;
    height: 240px;
    padding: 15px;
    margin: auto;
  }
  .ant-modal-body {
    padding: 16px;
    padding-bottom: 5px;
    .input-item {
      width: 100%;
      .input {
        width: 100%;
      }
    }
  }
  .ant-confirm-body-wrapper {
    text-align: center;
  }
  .ant-confirm-body .ant-confirm-content {
    margin-left: 0;
  }
  .ant-confirm .ant-modal-body {
    padding: 30px;
  }
  .ant-message-notice-content {
    font-size: 13px;
    color: #dc8e30;
  }
  .ant-spin-nested-loading {
    height: 100%;
  }
  .ant-spin-container {
    height: 100%;
  }
  .ant-select-open .ant-select-selection {
    border-color: #DBDBDB;
    box-shadow: none;
  }
  .ant-select-focused .ant-select-selection,
  .ant-select-selection:hover,
  .ant-select-selection:focus, .ant-select-selection:active {
    border-color: #DBDBDB;
    box-shadow: none;
  }
  .ant-select-lg .ant-select-selection--single {
    line-height: 40px;
    width: 280px;
    height: 40px;
  }
  .ant-select-lg .ant-select-selection__rendered {
    line-height: 40px;
    width: 280px;
    height: 40px;
  }
  .ant-select-selection__rendered {
    margin-left: 10px;
    margin-right: 10px;
  }
  .select.error .ant-select-selection {
    border: 1px solid #f04134;
  }
  .ant-select-selection {
    border-radius: 0;
  }
  .ant-select-dropdown {
    border-radius: 2px;
    font-size: 14px;
    color: #777;
  }
  .ant-select-dropdown-menu-item-selected,
  .ant-select-dropdown-menu-item-selected:hover {
    background-color: #f4f4f4;
  }

  .ant-btn {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    height: 36px;
    min-width: 90px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: @default-color;
    border-color: @default-border-color;
    color: #555;
    &:hover {
      color: #555;
      background-color: @default-hover-color;
      border-color: @default-hover-border-color
    }
    &:active {
      color: #555;
      background-color: @default-tap-color;
      border-color: @default-tap-border-color;
    }
    &.ant-btn-primary {
      background-color: @primary-color;
      border-color: @primary-border-color;
      color: #fff;
      &:hover {
        background-color: @primary-hover-color;
        border-color: @primary-hover-border-color;
      }
      &:active {
        background-color: @primary-tap-color;
        border-color: @primary-tap-border-color;
      }
    }
  }
}
