.seal_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  font-size: 16px;
  color: #777;
  .seal_item_inner {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    img {
      width: 140px;
    }
  }
}
